/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 body{
 	font-family: Tahoma;
 	height: 100%;
 }

 ul{
 	list-style-type: none;
 	padding-left: 0px;
 }

#block-system-main{
	clear: both;
	display: none;
}

.col-sm-3{
	margin-left: 200px;
}

 .container{
 	height: 100%;
 }

.region-barra-sup{
	background: #e5e1c6;
	border-bottom: 1px solid #d3cea8; 
	height: 31px;
	width: 100%;
	padding-left: 180px;
	font-size: 11px;
	display: inline-block;
}

.input-group-btn:last-child > .btn {
    background: #f1f1f1;
    border-radius: 0 5px 5px 0;
    width: 30px;
}

.glyphicon-search:before {
    color: #FF9832;
}

#edit-search-block-form--2 {
    padding: 4px;
}

#block-block-2 {
	padding: 8px;
}

.link-periodico{
	text-decoration: none;
	font-weight: 700;
	color: #6f6a2f !important;
	text-transform: uppercase;
}

#activo{
	color: #aa6015  !important;
}

#block-search-form{
	width: 300px;
	float: left;
	height: 30px;
	padding: 3px;
}

#block-block-2{
	width: 300px;
	float: left;
}

#edit-search-block-form--2{
	padding: 0px;
	height: 25px;
}

.btn-default{
	height: 25px;
	padding: 2px;
}

#logo{
	clear: both;
	display: block;
	padding-left: 180px;
}

.navbar.container {
    margin-top: 0px;
    max-width: 2000px;
    min-width: 1169px;
    max-height: 40px;
    min-height: 30px;
}

#navbar{
	clear: both;
	background: #f2861a;
	width: 100%;
	margin-bottom: 0px;
	border-bottom: 1px solid #d96d01;
	border-top: 1px solid #d96d01;
	display: block;
	border-radius: 0px;
	height: 40px;
}

.navbar-collapse{
	padding-left: 150px;
}

/*.leaf a{
	margin-top: 2px; 
	height: 38px;
	text-transform: uppercase;
	padding: 7px 15px;
	border-bottom: 3px solid #FF9832;
	font-weight: lighter;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    /*background: url("http://www.livemint.com/rw/SysConfig/WebPortal/LiveMint/static_content/images/header/arrow_down.gif") no-repeat scroll center bottom 8px #fff;*/
    background-color: #f2861a;
    color: white;
    padding: 0px 15px 0px;
    border-bottom: 0px;
    margin-top: 0px; 
	height: 38px;
	text-transform: uppercase;
	font-weight: lighter;
	border-bottom: 3px solid #ff9832;
	height: 24px;
    margin-top: 8px;
    margin-left: 1px;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    background: url("http://www.livemint.com/rw/SysConfig/WebPortal/LiveMint/static_content/images/header/arrow_down.gif") no-repeat scroll center bottom 8px #fff;    color: black;
    padding: 7px 15px;
    border-bottom: 0px;
    margin-top: 2px; 
	height: 38px;
	text-transform: uppercase;
	font-weight: lighter;
}

/*.navbar-default .navbar-nav > .leaf > a, .navbar-default .navbar-nav > .leaf > a:hover, .navbar-default .navbar-nav > .leaf > a:focus {
    border-bottom: 3px solid rgb(255, 152, 50);
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}*/

/*Primera seccion de articulos*/
#block-block-3{
	border-bottom: 1px dotted #7d7a58;
    margin-left: 60px;
    padding: 5px 0;
    width: 90%;
}

.derecha{
	float: right;
	font-size: 13px;
	text-transform: uppercase;
}

.hot_lnk_box{
	background: #464646;
	float: left;
	padding: 3px 14px;
	margin-right: 5px;
}

.hot_lnk_box a{
	color: white;
	font-weight: lighter;
	text-decoration: none;
}

.hot_lnk_box a:hover{
	color: #f2861a;
}

.izquierda{
	float: left;
	color: #7d7a58;
	font-size: 11px;
	text-transform: uppercase;
}

.izquierda ul{
	margin: 0px;
}

.izquierda ul li{
	float: left;
    font-weight: 700;
    padding: 5px 4px 0 0;
    text-transform: uppercase;
}

.izquierda a{
	color: #7d7a58;
    text-decoration: none;
}

.izquierda a:hover{
	color: #FF9832;
	border-bottom: 3px solid #FF9832;
}

.col-sm-9{
	width: 750px;
	margin-left: 60px;
}

#block-views-home-block{
	width: 700px;
	padding: 10px 0px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-home-block .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 200px;
}

#block-views-home-block .views-field-body,.views-field-title,.views-field-field-image{
	float: left;
}

#block-views-home-block .views-field-body{
	width: 50%;
	color: #464646;
    font-size: 12px;
    text-align: justify;
}

#block-views-home-block .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-home-block .views-field-field-image img{
	width: 95%;
	height: 200px;
}

#block-views-home-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 30px;
    margin: 2px 0 0;
}

#block-views-home-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-home-block .views-field-title a:hover{
	color: #ca6c18;
}

/*Segunda Seccion de articulos*/
#block-views-art-sec-block{
	width: 50%;
	padding: 10px 10px 10px 0px;
	float: left;
}


#block-views-art-sec-block .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#block-views-art-sec-block .views-field-title,.views-field-field-image{
	float: left;
}

#block-views-art-sec-block .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-art-sec-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 18px;
    margin: 0px;
}

#block-views-art-sec-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-sec-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-sec-block .views-field-field-image img{
	width: 90px;
	height: 60px;
}

#block-views-art-sec-block .views-field-field-image{
	width: 90px;
	height: 60px;
	margin: 0px 10px 5px 0px;
}

#block-views-art-sec-block-1{
	width: 40%;
	float: left;
	margin-left: 40px;
}

#block-views-art-sec-block-1 ul{
	clear: both;
	list-style-type: square;
	color: #ca6c18;
}

#block-views-art-sec-block-1 .views-row{
	height: auto;
	border-bottom: 1px dotted #ca6c18;
	margin-bottom: 10px;
}

#block-views-art-sec-block-1 .views-field-title{
	float: left;
}

#block-views-art-sec-block-1 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 13px;
    margin: 0px;
    font-weight: 700;
}

#block-views-art-sec-block-1 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-sec-block-1 .views-field-title a:hover{
	color: #ca6c18;
}


/*Tercera Seccion de articulos*/
#block-views-art-terc-block{
	clear: both;
	width: 45%;
	padding: 10px 10px 10px 0px;
	float: left;
	border-bottom: 1px dotted #ca6c18;
}

#block-views-art-terc-block{
	width: 50%;
	padding: 10px 10px 10px 0px;
	float: left;
}

#block-views-art-terc-block .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#block-views-art-terc-block .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-terc-block .block-title a:hover{
	color: #000;
}


#block-views-art-terc-block .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 130px;
}

#block-views-art-terc-block .views-field-title,.views-field-field-image,.views-field-body{
	float: left;
}

#block-views-art-terc-block .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-art-terc-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 20px;
    margin: 0px;
    width: 200px;
}

#block-views-art-terc-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-terc-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-terc-block .views-field-field-image img{
	width: 120px;
	height: 80px;
}

#block-views-art-terc-block .views-field-field-image{
	width: 120px;
	height: 80px;
	margin: 0px 10px 5px 0px;
}

#block-views-art-terc-block .views-field-body{
	color: #464646;
    font-size: 12px;
}

#block-views-art-terc-block-1{
	width: 50%;
	padding: 10px 10px 10px 0px;
	float: left;
	border-bottom: 1px dotted #ca6c18;
}

#block-views-art-terc-block-1 .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#block-views-art-terc-block-1 .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-terc-block-1 .block-title a:hover{
	color: #000;
}


#block-views-art-terc-block-1 .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 130px;
}

#block-views-art-terc-block-1 .views-field-title,.views-field-field-image,.views-field-body{
	float: left;
}

#block-views-art-terc-block-1 .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-art-terc-block-1 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 20px;
    margin: 0px;
    width: 200px;
}

#block-views-art-terc-block-1 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-terc-block-1 .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-terc-block-1 .views-field-field-image img{
	width: 120px;
	height: 80px;
}

#block-views-art-terc-block-1 .views-field-field-image{
	width: 120px;
	height: 80px;
	margin: 0px 10px 5px 0px;
}

#block-views-art-terc-block-1 .views-field-body{
	color: #464646;
    font-size: 12px;
}


/*Secccion 4 de los articulos*/
#block-views-art-4-block{
	clear: both;
	display: block;
	width: 50%;
	float: left;
	padding: 0px 10px 0px 0px;
}

#block-views-art-4-block ul{
	padding: 0px;
	list-style-type: none;
	color: #ca6c18;
}

#block-views-art-4-block .views-row{
	height: 45px;
	padding: 5px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-art-4-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 18px;
    margin: 0px;
    font-weight: lighter;
}

#block-views-art-4-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-4-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-4-block-1{
	display: block;
	width: 50%;
	float: left;
	padding: 0px 10px 0px 0px;
}

#block-views-art-4-block-1 ul{
	color: #ca6c18;
}

#block-views-art-4-block-1 .views-row{
	height: 45px;
	padding: 5px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-art-4-block-1 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 18px;
    margin: 0px;
    font-weight: lighter;
}

#block-views-art-4-block-1 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-4-block-1 .views-field-title a:hover{
	color: #ca6c18;
}

#first-time{
	display: none;
}

#block-block-4{
	clear: both;
	width: 100%;
	height: 50px;
	display: block;
}

#block-block-4 .more{
	font-weight: 700;
	font-size: 11px;
}

#block-block-4 #campanie,#money{
	background: #e9e5c3;
	float: left;
	width: 49%;
	height: 24px;
	padding: 5px 7px;
    text-align: center;
    text-transform: uppercase;
}

#block-block-4 #money{
	margin-left: 10px;
}

#block-block-4 .more a{
	text-decoration: none;
	color: #ca6c18;
}

#block-block-4 .more a:hover{
	color: #000;
}


/*Seccion 5 de articulos*/

#block-views-art-5-block{
	clear: both;
	width: 38%;
	display: block;
	float: left;
}

#block-views-art-5-block .views-field-field-image, 
#block-views-art-5-block .views-field-title, 
#block-views-art-5-block .views-field-body{
	padding-right: 25px;
	border-right: 1px solid #e9e5c3;
}

#block-views-art-5-block .views-row{
	float: left;
}

#block-views-art-5-block .views-field-field-image img{
	width: 222px;
	height: 148px;
}

#block-views-art-5-block .views-field-title{
	font-size: 24px;
	font-weight: lighter;
	font-family: Unna,Times New Roman,Times,serif;
	width: 248px;
}


#block-views-art-5-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-5-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-5-block .views-field-body{
	font-size: 12px;
	width: 248px;
}

#block-views-art-5-block .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#block-views-art-5-block .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-5-block .block-title a:hover{
	color: #000;
}

#block-views-art-5-block-1{
	float: left;
	width: 60%;
	padding-top: 22px;
}

#block-views-art-5-block-1 .views-row{
	float: left;
	width: 100%
}

#block-views-art-5-block-1 .views-field-title{
	font-size: 18px;
	font-weight: lighter;
	font-family: Unna,Times New Roman,Times,serif;
	width: 100%;
	border-bottom: 1px dotted #ca6c18;
	height: 45px;
	margin-bottom: 5px;
}

#block-views-art-5-block-1 .block-title{
	border-bottom: 2px solid #ca6c18;
}

#block-views-art-5-block-1 .views-field-title a{
	text-decoration: none;
	color: #000;
}

#block-views-art-5-block-1 .views-field-title a:hover{
	color: #ca6c18;
}

#block-block-5{
	clear: both;
	width: 100%;
	height: 50px;
	display: block;
	padding-top: 10px;
}

#block-block-5 .more{
	font-weight: 700;
	font-size: 11px;
	background: #e9e5c3;
	width: 98%;
	height: 24px;
	padding: 5px 7px;
    text-align: center;
    text-transform: uppercase;
}

#block-block-5 .more a{
	text-decoration: none;
	color: #ca6c18;
}

#block-block-5 .more a:hover{
	color: #000;
}



/*Galeria*/
#block-views-galeria-block{
	padding-left: 60px;
}

#views_slideshow_cycle_main_galeria-block{
	background: black;
	overflow: hidden;
    width: 660px;
    height: 310px;
}
#views_slideshow_controls_text_galeria-block{
	width: 660px;
	background: black;
}

#views_slideshow_cycle_main_galeria-block .views-field-field-image, 
#views_slideshow_cycle_main_galeria-block .views-field-body, 
#views_slideshow_cycle_main_galeria-block .views-field-title{
	float: left;
}

#views_slideshow_cycle_main_galeria-block .views-field-field-image{
	height: 310px;
    width: 465px;
}

.views-slideshow-controls-bottom .views-field-title a{
	display: block;
	width: 8px;
	height: 8px;
	text-indent: -1000px;
	background: #6a706c;
	margin-left: 3px;
	/*color: rgba(255,255,255,0.1);*/
}

.views-slideshow-controls-bottom .views-field-title a:hover{
	background: #ca6c18;
}

