/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body{
 	font-family: Tahoma;
 	height: 100%;
}

ul{
 	list-style-type: none;
 	padding-left: 0px;
}

a:focus{
	outline: none;
}

#block-system-main{
	clear: both;
	
}

.col-sm-3{
	display: block;
	margin-left: 40px;
}

.col-sm-6{
	display: block;
	width: 62%;
	margin-left: 80px;
}


.col-sm-9{
	display: block;
	width: 62%;
	margin-left: 80px;
}

.container{
 	height: 100%;
}

.region-barra-sup{
	background: #e5e1c6;
	border-bottom: 1px solid #d3cea8; 
	height: 31px;
	width: 100%;
	padding-left: 180px;
	font-size: 11px;
	display: inline-block;
}

.input-group-btn:last-child > .btn {
    background: #f1f1f1;
    border-radius: 0 5px 5px 0;
    width: 30px;
}

.glyphicon-search:before {
    color: #FF9832;
}

#edit-search-block-form--2 {
    padding: 4px;
}

#block-block-2 {
	padding: 8px;
}

.link-periodico{
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #6f6a2f;
}

.link-periodico:hover{
	color: #000;
	text-decoration: none;
}

#activo{
	color: #aa6015  !important;
}

#block-search-form{
	width: 300px;
	float: left;
	height: 30px;
	padding: 3px;
}

#block-block-2{
	width: 300px;
	float: left;
}

#edit-search-block-form--2{
	padding: 0px;
	height: 25px;
}

.btn-default{
	height: 25px;
	padding: 2px;
}

#logo{
	clear: both;
	display: block;
	padding-left: 180px;
}

.navbar.container {
    margin-top: 0px;
    max-width: 2000px;
    min-width: 1169px;
    max-height: 40px;
    min-height: 30px;
}

#navbar{
	clear: both;
	background: #e5790d;
	width: 100%;
	margin-bottom: 0px;
	border-bottom: 1px solid #d96d01;
	border-top: 1px solid #d96d01;
	display: block;
	border-radius: 0px;
	height: 40px;
}

.navbar-collapse{
	padding-left: 160px;
}

.navbar-nav > li{
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 14px;
	background-color: #e5790d;
	height: 38px;
    padding: 8px 15px;
}

.navbar-nav > li.active{
    padding: 0px;
}

.navbar-default .navbar-nav > .leaf > a, .navbar-default .navbar-nav > .leaf > a:hover, .navbar-default .navbar-nav > .leaf > a:focus {
    background-color: #e5790d;
    color: white;
    margin: 0px; 		
	border-bottom: 3px solid #ff9832;
    height: 24px;
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: url("../img/arrow_down.gif") no-repeat scroll center bottom 8px #fff;   
    color: black;
    padding: 7px 15px;
    border-bottom: 0px;
    margin-top: 2px; 
	height: 38px;
}

ul.secondary{
	display: none;
}

/*Primera seccion de articulos*/
#block-block-3{
	border-bottom: 1px dotted #7d7a58;
    margin-left: 80px;
    padding: 5px 0;
    width: 90%;
}

.derecha{
	float: right;
	font-size: 13px;
	text-transform: uppercase;
}

.hot_lnk_box{
	background: #464646;
	float: left;
	padding: 3px 14px;
	margin-right: 5px;
}

.hot_lnk_box a{
	color: white;
	font-weight: lighter;
	text-decoration: none;
}

.hot_lnk_box a:hover{
	color: #f2861a;
}

.izquierda{
	float: left;
	color: #7d7a58;
	font-size: 11px;
	text-transform: uppercase;
}

.izquierda ul{
	margin: 0px;
}

.izquierda ul li{
	float: left;
    font-weight: 700;
    padding: 5px 4px 0 0;
    text-transform: uppercase;
}

.izquierda a{
	color: #7d7a58;
    text-decoration: none;
}

.izquierda a:hover{
	color: #FF9832;
	border-bottom: 3px solid #FF9832;
}

#block-views-home-block{
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-home-block .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 200px;
}

#block-views-home-block .views-field-body,.views-field-title,.views-field-field-image{
	float: left;
}

#block-views-home-block .views-field-body{
	width: 50%;
	color: #464646;
    font-size: 12px;
    text-align: justify;
}

#block-views-home-block .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-home-block .views-field-field-image img{
	width: 95%;
	height: 200px;
}

#block-views-home-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 30px;
    margin: 2px 0 0;
}

#block-views-home-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-home-block .views-field-title a:hover{
	color: #ca6c18;
}

/*Segunda Seccion de articulos*/
#block-views-art-sec-block{
	width: 48%;
	padding: 10px 10px 10px 0px;
	float: left;
}


#block-views-art-sec-block .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#block-views-art-sec-block .views-field-title,.views-field-field-image{
	float: left;
}

#block-views-art-sec-block .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-art-sec-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 18px;
    margin: 0px;
}

#block-views-art-sec-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-sec-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-sec-block .views-field-field-image img{
	width: 90px;
	height: 60px;
}

#block-views-art-sec-block .views-field-field-image{
	width: 90px;
	height: 60px;
	margin: 0px 10px 5px 0px;
}

#block-views-art-sec-block-1{
	width: 46%;
	float: left;
	margin-left: 40px;
}

#block-views-art-sec-block-1 ul{
	clear: both;
	list-style-type: square;
	color: #ca6c18;
}

#block-views-art-sec-block-1 .views-row{
	clear: both;
	height: auto;
	border-bottom: 1px dotted #ca6c18;
	margin-bottom: 10px;
}

#block-views-art-sec-block-1 .views-field-title{
	float: left;
}

#block-views-art-sec-block-1 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 13px;
    margin: 0px;
    font-weight: 700;
}

#block-views-art-sec-block-1 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-sec-block-1 .views-field-title a:hover{
	color: #ca6c18;
}


/*Tercera Seccion de articulos*/
#block-views-art-terc-block{
	clear: both;
	width: 49%;
	float: left;
	border-bottom: 1px dotted #ca6c18;
	margin-right: 20px;
}

#block-views-art-terc-block .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#block-views-art-terc-block .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-terc-block .block-title a:hover{
	color: #000;
}


#block-views-art-terc-block .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: auto;
}

#block-views-art-terc-block .views-field-title,.views-field-field-image,.views-field-body{
	float: left;
}

#block-views-art-terc-block .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-art-terc-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 20px;
    margin: 0px;
    width: 190px;
}

#block-views-art-terc-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-terc-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-terc-block .views-field-field-image img{
	width: 120px;
	height: 80px;
}

#block-views-art-terc-block .views-field-field-image{
	width: 120px;
	height: 80px;
	margin: 0px 10px 5px 0px;
}

#block-views-art-terc-block .views-field-body{
	color: #464646;
    font-size: 12px;
}

#block-views-art-terc-block-1{
	width: 48%;
	float: left;
	border-bottom: 1px dotted #ca6c18;
}

#block-views-art-terc-block-1 .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#block-views-art-terc-block-1 .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-terc-block-1 .block-title a:hover{
	color: #000;
}


#block-views-art-terc-block-1 .views-row{
	display: block;
	list-style-type: none;
	float: left;
	width: 100%;
	height: auto;
}

#block-views-art-terc-block-1 .views-field-title,.views-field-field-image,.views-field-body{
	float: left;
}

#block-views-art-terc-block-1 .views-field-field-image{
	width: 50%;
	height: 100%;
}

#block-views-art-terc-block-1 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 20px;
    margin: 0px;
    width: 190px;
}

#block-views-art-terc-block-1 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-terc-block-1 .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-terc-block-1 .views-field-field-image img{
	width: 120px;
	height: 80px;
}

#block-views-art-terc-block-1 .views-field-field-image{
	width: 120px;
	height: 80px;
	margin: 0px 10px 5px 0px;
}

#block-views-art-terc-block-1 .views-field-body{
	color: #464646;
    font-size: 12px;
}


/*Secccion 4 de los articulos*/
#block-views-art-4-block{
	clear: both;
	display: block;
	width: 49%;
	float: left;
	margin-right: 20px;
}

#block-views-art-4-block ul{
	padding: 0px;
	list-style-type: none;
	color: #ca6c18;
}

#block-views-art-4-block .views-row{
	height: 45px;
	padding: 5px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-art-4-block .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 18px;
    margin: 0px;
    font-weight: lighter;
}

#block-views-art-4-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-4-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-4-block-1{
	display: block;
	width: 48%;
	float: left;
}

#block-views-art-4-block-1 ul{
	color: #ca6c18;
}

#block-views-art-4-block-1 .views-row{
	height: 45px;
	padding: 5px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-art-4-block-1 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 18px;
    margin: 0px;
    font-weight: lighter;
}

#block-views-art-4-block-1 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-4-block-1 .views-field-title a:hover{
	color: #ca6c18;
}

#first-time{
	display: none;
}

#block-block-4{
	clear: both;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	display: block;
}

#block-block-4 .more{
	font-weight: 700;
	font-size: 11px;
}

#block-block-4 #campanie{
	background: #e9e5c3;
	float: left;
	height: 24px;
	padding: 5px 7px;
	text-align: center;
	width: 49%;
	margin-right: 20px
}

#block-block-4 #money{
	background: #e9e5c3;
	float: left;
	height: 24px;
	padding: 5px 7px;
	text-align: center;
	width: 48%;
}

#block-block-4 .more a{
	text-decoration: none;
	color: #ca6c18;
}

#block-block-4 .more a:hover{
	color: #000;
}


/*Seccion 5 de articulos*/

#block-views-art-5-block{
	clear: both;
	width: 40%;
	display: block;
	float: left;
}

#block-views-art-5-block .views-field-field-image, 
#block-views-art-5-block .views-field-title, 
#block-views-art-5-block .views-field-body{
	padding-right: 25px;
	border-right: 1px solid #e9e5c3;
}

#block-views-art-5-block .views-row{
	float: left;
}

#block-views-art-5-block .views-field-field-image img{
	width: 222px;
	height: 148px;
}

#block-views-art-5-block .views-field-title{
	font-size: 24px;
	font-weight: lighter;
	font-family: Unna,Times New Roman,Times,serif;
	width: 248px;
}


#block-views-art-5-block .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-5-block .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-5-block .views-field-body{
	font-size: 12px;
	width: 248px;
}

#block-views-art-5-block .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

#block-views-art-5-block .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-5-block .block-title a:hover{
	color: #000;
}

#block-views-art-5-block-1{
	float: left;
	width: 60%;
	padding-top: 22px;
}

#block-views-art-5-block-1 .views-row{
	float: left;
	width: 100%
}

#block-views-art-5-block-1 .views-field-title{
	font-size: 18px;
	font-weight: lighter;
	font-family: Unna,Times New Roman,Times,serif;
	width: 100%;
	border-bottom: 1px dotted #ca6c18;
	height: 45px;
	margin-bottom: 5px;
}

#block-views-art-5-block-1 .block-title{
	border-bottom: 2px solid #ca6c18;
}

#block-views-art-5-block-1 .views-field-title a{
	text-decoration: none;
	color: #000;
}

#block-views-art-5-block-1 .views-field-title a:hover{
	color: #ca6c18;
}

#block-block-5{
	clear: both;
	width: 100%;
	height: 50px;
	display: block;
	padding-top: 10px;
}

#block-block-5 .more{
	font-weight: 700;
	font-size: 11px;
	background: #e9e5c3;
	width: 100%;
	height: 24px;
	padding: 5px 7px;
    text-align: center;
    text-transform: uppercase;
}

#block-block-5 .more a{
	text-decoration: none;
	color: #ca6c18;
}

#block-block-5 .more a:hover{
	color: #000;
}


/*Seccion 6 de articulos*/

.region-opc-categorias{
	clear: both;
	background: #f2efd4;
    border: 1px solid #dfdab2;
    padding: 15px;
    margin-bottom: 25px;
    height: 540px;
}

#block-views-art-6-block, #block-views-art-6-block-1, #block-views-art-6-block-2{
	width: 190px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	display: block;
	border-bottom: 1px dotted #ca6c18;
}

#block-views-art-6-block .block-title, 
#block-views-art-6-block-1 .block-title, 
#block-views-art-6-block-2 .block-title{
	border-bottom: 2px solid #ca6c18;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px;
}

#block-views-art-6-block .block-title a, 
#block-views-art-6-block-1 .block-title a, 
#block-views-art-6-block-2 .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-art-6-block .block-title a:hover, 
#block-views-art-6-block-1 .block-title a:hover, 
#block-views-art-6-block-2 .block-title a:hover{
	color: #000;
}

#block-views-art-6-block .views-field-title, 
#block-views-art-6-block-1 .views-field-title, 
#block-views-art-6-block-2 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 20px;
    margin: 0px;
    width: 190px;
}

#block-views-art-6-block .views-field-title a, 
#block-views-art-6-block-1 .views-field-title a, 
#block-views-art-6-block-2 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-6-block .views-field-title a:hover, 
#block-views-art-6-block-1 .views-field-title a:hover, 
#block-views-art-6-block-2 .views-field-title a:hover{
	color: #ca6c18;
}

#block-views-art-6-block .views-field-body, 
#block-views-art-6-block-1 .views-field-body, 
#block-views-art-6-block-2 .views-field-body{
	color: #464646;
    font-size: 12px;
}

#block-views-art-7-block, #block-views-art-7-block-1, #block-views-art-7-block-2{
	width: 190px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	display: block;
}

#block-views-art-7-block ul, 
#block-views-art-7-block-1 ul, 
#block-views-art-7-block-2 ul{
	padding: 0px;
	list-style-type: none;
	color: #ca6c18;
}

#block-views-art-7-block .views-row, 
#block-views-art-7-block-1 .views-row, 
#block-views-art-7-block-2 .views-row{
	height: 45px;
	padding: 5px;
	border-bottom: 1px dotted #ca6c18;
}


#block-views-art-7-block .views-field-title, 
#block-views-art-7-block-1 .views-field-title, 
#block-views-art-7-block-2 .views-field-title{
	font-family: Unna,Times New Roman,Times,serif;
    font-size: 16px;
    margin: 0px;
    font-weight: lighter;
}

#block-views-art-7-block .views-field-title a, 
#block-views-art-7-block-1 .views-field-title a, 
#block-views-art-7-block-2 .views-field-title a{
	color: #000;
	text-decoration: none;
}

#block-views-art-7-block .views-field-title a:hover, 
#block-views-art-7-block-1 .views-field-title a:hover, 
#block-views-art-7-block-2 .views-field-title a:hover{
	color: #ca6c18;
}

#block-block-7{
    height: 30px;
    float: left;
}

#block-block-7 .more{
	clear: both;
	display: block;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    color: white;
    font-size: 11px;
	font-weight: 700;
}

#block-block-7 #costumer,
#block-block-7 #industry,
#block-block-7 #politics{
	background: #fff;
    float: left;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 7px;
    text-align: center;
    width: 190px;
}

#block-block-7 #costumer a,
#block-block-7 #industry a,
#block-block-7 #politics a{
	color: #ca6c18;
	text-decoration: none;
}

#block-block-7 #costumer a:hover,
#block-block-7 #industry a:hover,
#block-block-7 #politics a:hover{
	color: #000;
}





/*Seccion de companies*/
#block-system-main .view-companies .views-row{
	height: auto;
	margin: 10px 20px;
	display: block;
	float: left;
	border-bottom: 1px dotted #ca6c18;
}

#block-system-main .view-companies .views-field-title{
	text-align: left;
	font-size: 20px;
	font-weight: 700px;
	margin: 10px 10px;
	width: 50%;
	float: left;
	display: block;
}

#block-system-main .view-companies .views-field-body{
	text-align: justify;
	font-size: 12px;
	margin: 10px 0px;
	width: 100%;
	float: left;
	display: block;
}

#block-system-main .view-companies .views-field-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-system-main .view-companies .views-field-title a:hover{
	color: #000;
}


#block-system-main .view-companies .views-row-1 .views-field-title{
    font-size: 30px;
    margin: 2px 0 0;
}

#block-system-main .view-companies .views-row-1 .views-field-field-image{
    width: 50%;
}

#block-system-main .view-companies .views-row-1 .views-field-field-image img {
    height: 200px;
    width: 95%;
}

#block-system-main .view-companies .views-row-1 .views-field-body{
	width: 50%;
}

#block-system-main .view-companies .views-row-1{
	width: 100%;
	padding-bottom: 15px;
}

#block-system-main .view-companies .views-row-2,
#block-system-main .view-companies .views-row-3,
#block-system-main .view-companies .views-row-4,
#block-system-main .view-companies .views-row-5,
#block-system-main .view-companies .views-row-6,
#block-system-main .view-companies .views-row-7,
#block-system-main .view-companies .views-row-8{
	width: 44%;
}

#block-system-main .view-companies .views-row-2 .views-field-field-image img,
#block-system-main .view-companies .views-row-3 .views-field-field-image img,
#block-system-main .view-companies .views-row-4 .views-field-field-image img,
#block-system-main .view-companies .views-row-5 .views-field-field-image img,
#block-system-main .view-companies .views-row-6 .views-field-field-image img,
#block-system-main .view-companies .views-row-7 .views-field-field-image img,
#block-system-main .view-companies .views-row-8 .views-field-field-image img {
    height: 80px;
    width: 120px;
}



/*Estilos seccion de formularios*/
#block-webform-client-block-21{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #4e4e4e;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: left;
    width: 100%;
    padding: 12px;
}

#block-webform-client-block-21 .block-title{
	margin: 0px;
	color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    padding: 5px 0 15px;
    position: relative;
    border-bottom: 1px solid #ccc;
}


#block-webform-client-block-21 .opc_votacion{
	color: #4e4e4e;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

#block-webform-client-block-21 .form-type-radio{
	margin: 0px;
	display: block;
    padding: 8px 0;
}

#webform-client-form-21 .button-primary{
	margin-top: 10px;
	border: 1px solid #999;
    border-radius: 11px;
    color: #464646;
    font-family: "Lucida Grande",Verdana,Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 25px;
    white-space: nowrap;
}

#webform-client-form-21 .button-primary:hover,
#webform-client-form-21 .button-primary:focus,
#webform-client-form-21 .button-primary:active{
	border: 1px solid #000;
	background: #fff;
}

#block-user-login{
	margin-top: 20px;
	margin-bottom: 40px;
}

#block-user-login #edit-submit{
	margin-top: 10px;
	border: 1px solid #999;
    border-radius: 11px;
    color: #464646;
    font-family: "Lucida Grande",Verdana,Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 25px;
    white-space: nowrap;
}

#block-user-login #edit-submit:hover,
#block-user-login #edit-submit:focus,
#block-user-login #edit-submit:active{
	background: #e5790d;
	color: white;
}

#block-user-login .block-title{
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

#block-user-login li{
	margin-bottom: 15px;
}

#block-user-login .first a,
#block-user-login .last a{
	background: #e5790d;
	color: white;
	padding: 5px 15px;
	height: 30px;
	border-radius: 15px;
	text-decoration: none;
}

#block-user-login .first a:hover,
#block-user-login .last a:hover{
	background: #fff;
	color: #000;
	border: 1px solid #e5790d;
}

#block-system-user-menu{
	margin-top: 20px;
	margin-bottom: 40px;
}

#block-system-user-menu .block-title{
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

#block-system-user-menu li{
	margin-bottom: 5px;
}

#block-system-user-menu .leaf a{
	background: #e5790d;
	color: white;
	padding: 5px 15px;
	height: 30px;
	border-radius: 15px;
}

#block-system-user-menu .leaf a:hover{
	background: #fff;
	color: #e5790d;
	border: 1px solid #e5790d;
}





/*Estilos articulo full*/
.submitted{
	display: none;
}

#block-system-main .field-name-field-image{
	text-align: center;
	margin: 10px 0px 20px 0px;
}

#block-system-main .field-name-body{
	text-align: justify;
	font-size: 12px;
	font-family: "Lucida Grande",Verdana,Arial;
	padding: 15px;
}

#block-system-main .field-name-field-categorias a{
	color: #000;
	margin-bottom: 20px;
	font-size: 12px;
	text-decoration: none;
}

#block-system-main .field-name-field-categorias a:hover{
	color: #e5790d;
}

#block-views-filtros-block{
	margin-top: 40px;
}

#block-views-filtros-block .views-field-title a{
	clear: both;
	color: #000;
	font-size: 20px;
	font-weight: 700;
	display: block;
}

#block-views-filtros-block ul{
	clear: both;
	display: block;
}

#block-views-filtros-block .views-field-field-categorias{
	clear: both;
	display: block;
	color: #000;
	font-weight: lighter;
}

#block-views-filtros-block .views-field-field-categorias a{
	color: #000;
	margin-bottom: 12px;
	font-size: 12px;
	text-decoration: none;
}

#block-views-filtros-block .views-field-field-categorias a:hover{
	color: #e5790d;
}

#block-views-filtros-block .views-row{
	display: block;
	padding: 10px;
	float: left;
	width: 200px;
	height: 250px;
}












/*Galeria*/

.region-barra-imagenes{
	clear: both;
}


#block-views-galeria-block .block-title{
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px;
}

#block-views-galeria-block .block-title a{
	text-decoration: none;
	color: #ca6c18;
}

#block-views-galeria-block .block-title a:hover{
	color: #000;
}

#views_slideshow_cycle_main_galeria-block{
	background: black;
	overflow: hidden;
    width: 660px;
    height: 310px;
}
.views-slideshow-controls-bottom{
	display: block;
	-webkit-transform:translate(350px,-20px);
	-moz-transform:translate(350px,-20px);
    z-index: 99;
    height: 20px;
    width: 100px;
}


#views_slideshow_controls_text_galeria-block{
    display: block;
    -webkit-transform:translate(-350px,0px);
	-moz-transform:translate(-350px,0px);
    width: 100px;
    height: 20px;
    z-index: 99;
}

#views_slideshow_cycle_main_galeria-block .views-field-field-image, 
#views_slideshow_cycle_main_galeria-block .views-field-title{
	float: left;
}

#views_slideshow_cycle_main_galeria-block .views-field-field-image{
	width: 465px;
	height: 310px;
	text-align: center;
}

#views_slideshow_cycle_main_galeria-block .views-field-body{
	display: block;
	color: white;
	float: top;
	width: 180px;
	font-size: 16px;
	margin-left: 15px;
	padding-right: 15px;
	letter-spacing: -0.5px;
    line-height: 20px;
}

#views_slideshow_cycle_main_galeria-block .views-field-title{
	width: 180px;
	height: auto;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 20px;
}

#views_slideshow_cycle_main_galeria-block .views-field-title a{
	font-size: 24px;
	font-weight: lighter;
	text-decoration: none;
	color: white;
}

#views_slideshow_cycle_main_galeria-block .views-field-title a:hover{
	color: #ca6c18;
}

.views-slideshow-controls-bottom .views-field-title a{
	display: block;
	width: 8px;
	height: 8px;
	text-indent: -1000px;
	background: #6a706c;
	margin-left: 3px;
	z-index: 99;
	/*color: rgba(255,255,255,0.1);*/
}

.views-slideshow-controls-bottom .views-field-title a:hover{
	background: #ca6c18;
}

.views-slideshow-controls-bottom #widget_pager_bottom_galeria-block > .active a{
	background: #ca6c18;
}

.views-slideshow-controls-text-pause{
	display: none;
}

.views-slideshow-controls-text-previous a{
	display: block;
	width: 30px;
	height: 30px;
	background: url("../img/lft_arrow.gif") no-repeat;
	text-indent: -1000px;
	margin-left: 3px;
	z-index: 99;
}

.views-slideshow-controls-text-next a{
	display: block;
	width: 30px;
	height: 30px;
	background: url("../img/rft_arrow.gif") no-repeat;
	text-indent: -1000px;
	margin-left: 3px;
	z-index: 99;
}

.views-slideshow-controls-text-next a:focus ,.views-slideshow-controls-text-previous a:focus{
	outline: none;
}

.views-slideshow-controls-text-previous{
	display: block;
	-webkit-transform: translate(-3px, -20px);
	-moz-transform: translate(-3px, -20px);
	z-index: 99;
	width: 32px;
}

.views-slideshow-controls-text-next{
	display: block;
	-webkit-transform: translate(627px, -50px);
	-moz-transform: translate(627px, -50px);
	z-index: 99;
	width: 32px;
}